<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
  
   <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='css/style.css') }}">
   <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='css/responsive.css') }}">
   <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='css/bootstrsap.min.css') }}">
   <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='css/jquery.mCustomScrollbar.min.css') }}">

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
   
    <div class="header_section">
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav mr-auto">
               <li class="nav-item">
                  <a class="nav-link" href="/mainpage">Home</a>
               </li>
                <li class="nav-item">
                   <a class="nav-link" href="/health">Analysis Tool</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="/health">Medicine & Cure</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="news.html">Testimonials</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="login" href="/login">Login</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" id="signUp" href="/sign-up">Sign Up</a>
               </li>
                             
                
             </ul>
          </div>
          </nav>
       </div>
      </div>

<div></div>
<div class="content_section">
   {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if category ==
      'error' %}
      <div class="alert alert-danger alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% else %}
      <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %}
  
      <div class="container">{% block content %} {% endblock %}</div>
      <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
      ></script>
  
      <script
        type="text/javascript"
        src="{{ url_for('static', filename='index.js') }}"
      ></script>
</div>

      <!--Footer section-->
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <div class="footer_logo"><a href="index.html">
                    <img src="{{ url_for('static',filename='images/skincare.png') }}">
                  </a></div>
                  <h1 class="adderss_text">Contact Us</h1>
                 
                  <div class="map_icon"><img src="{{ url_for('static',filename='images/call-icon.png') }}"><span class="paddlin_left_0">+(123)-456-7890</span></div>
                  <div class="map_icon"><img src="{{ url_for('static',filename='images/mail-icon.png') }}"><span class="paddlin_left_0">skincare@gmail.com</span></div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h1 class="adderss_text">Doctors</h1>
                  <div class="hiphop_text_1">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h1 class="adderss_text">Useful Links</h1>
                  <div class="Useful_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered ,</div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h1 class="adderss_text">Newsletter</h1>
                  <input type="text" class="Enter_text" placeholder="Enter your E-Mail" name="Enter your Email">
                  <div class="subscribe_bt"><a href="#">Subscribe</a></div>
                  <div class="social_icon">
                     <ul>
                        <li><a href="#"><img src="{{ url_for('static',filename='images/fb-icon.png') }}"></a></li>
                        <li><a href="#"><img src="{{ url_for('static',filename='images/twitter-icon.png') }}"></a></li>
                        <li><a href="#"><img src="{{ url_for('static',filename='images/linkedin-icon.png') }}"></a></li>
                        <li><a href="#"><img src="{{ url_for('static',filename='images/instagram-icon.png') }}"></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
  
   </body>
</html>
